nose2==0.9.2
six==1.15.0
Flask==1.1.2
Sphinx==3.0.3
sphinx-autodoc-typehints==1.10.3
git+https://github.com/OFBDABV/sphinx-autoapi.git
sphinx-rtd-theme==0.4.3
flask-swagger-ui==3.25.0
flask-restful==0.3.8
pandas==1.0.3
xlrd==1.2.0
flask-uploads==0.2.1
