nose2==0.9.2
six==1.15.0
Flask==1.1.2
flask-swagger-ui==3.25.0
flask-restful==0.3.8
pandas==1.0.3
xlrd==1.2.0
git+https://github.com/maxcountryman/flask-uploads.git
git+git://github.com/OFBDABV/SBTi@DEV_split