<!--suppress BuyFluidPluginNoteInspection -->
<style>
</style>

<!-- Toolbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">SBTi</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="container" role="main">
    <h2>{{title}}</h2>
    <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <form>
        <div class="form-group">
            <label for="input-excel_file">
              Select portfolio excel file:
            </label>
            <input (change)="onFileChange($event)" type="file" class="form-control-file" id="input-excel_file"
                name="input-excel_file" aria-describedby="input-excel_file">
          <small class="form-text text-muted">Should include company name, company ID, ISIN and investment value.</small>
        </div>
        <div class="form-group">
            <label for="input-excel_skiprows">Skip rows</label>
            <input type="number" class="form-control" id="input-excel_skiprows" name="input-excel_skiprows"
                [(ngModel)]="excelSkiprows">
        </div>
        <button class="btn btn-primary" (click)="parseExcel()">Upload</button>
        <span *ngIf="columns.length > 0">
            <hr />
            <h6>Map your columns to input fields</h6>
            <div class="row">
                <div class="col">
                    <p *ngFor="let column of columns">
                        <input class="form-control" value="{{column}}" disabled />
                    </p>
                </div>
                <div class="col">
                    <p *ngFor="let column of columns">
                        <select class="form-control" name="select-map_{{column}}" [(ngModel)]="columnMapping[column]"
                            (change)="updateAvailableColumns()">
                            <option></option>
                            <option *ngFor="let targetColumn of availableTargetColumns">{{targetColumn}}</option>
                        </select>
                    </p>
                </div>
            </div>
        </span>
    </form>


    <div *ngIf="columns.length > 0">

      <form (ngSubmit)="doParseDataProvider(f)" #f="ngForm">
        <!-- Data providers -->
        <hr />
        <h6>Select data provider (without selection, dummy sample data is used)</h6>

        <div class="form-group">
          <small class="form-text text-muted">For BETA-release only use Excel.</small>
          <select class="form-control" id="input-dataProviders-1" name="dataProviders-1"
              [(ngModel)]="selectedDataProvider">
              <option *ngFor="let dataProvider of dataProviders">{{dataProvider.name}}</option>
          </select>
          <label for="input-dataProviders-1-file"></label>
          <input (change)="onFileChangeDataProvider1($event)" type="file" class="form-control-file" id="input-dataProviders-1-file"
              name="input-dataProviders-1-file" aria-describedby="dataProvider1File">
          <small id="dataProvider1File" class="form-text text-muted">Use this file upload to provide your own dataprovider.</small>
        </div>

        <div class="form-group" style="margin-top: 1em;">
          <button class="btn btn-primary">Upload Dataprovider</button>
        </div>
        <div *ngIf="uploadSuccess && uploadCount > 0" class="alert alert-success" style="display:inline-block;" role="alert">
           Upload {{uploadCount}} succeeded
        </div>
        <div *ngIf="!uploadSuccess && uploadCount > 0" class="alert alert-danger" style="display:inline-block;" role="alert">
           Upload {{uploadCount}} not succeeded
        </div>


      </form>

          <hr />
        <h6>API settings (leave empty to use the defaults)</h6>
        <p>Choose the following filters for data-filtering or aggregation of columns.
          <br>
          Use CTR-click to deselect items.
        </p>


        <form (ngSubmit)="getTemperatureScore(f)" #f="ngForm">
            <div class="form-group">
                <label for="input-defaultScore">Default temperature score</label>
                <select class="form-control" [(ngModel)]="defaultScore" name="defaultMethod"
                    class="form-control" id="input-defaultScore">
                    <option *ngFor="let defaultMethod of availableDefaultScores" [ngValue]="defaultMethod">{{defaultMethod}}</option>
                </select>

            </div>
            <div class="form-group">
                <label for="input-aggregationMethod">Aggregation method</label>
                <select class="form-control" [(ngModel)]="selectedAggregationMethod" name="aggregationMethod"
                    class="form-control" id="input-aggregationMethod">
                    <option *ngFor="let aggregationMethod of availableAggregationMethods" [ngValue]="aggregationMethod">{{aggregationMethod}}</option>
                </select>
            </div>

            <!-- TimeFrame -->
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0 btn btn-link" (click)="toggleAccordion('timeFrame-container')" for="input-filterTimeFrames">
                  Time frame (default: mid)
                </h5>
              </div>
              <div id="timeFrame-container" class="collapse show" style="display:none">
                <div class="card-body" >
                  <div class="form-group">
                    <label for="input-dataProviders-1">Choose the desired timeframe:</label>
                      <select class="form-control" [(ngModel)]="filterTimeFrames" name="filterTimeFrames" multiple
                          id="input-filterTimeFrames">
                          <option *ngFor="let timeFrame of availableTimeFrames">{{timeFrame}}</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>


            <!-- Scope -->
            <div class="card">
                <div class="card-header">
                  <h5 class="mb-0 btn btn-link" (click)="toggleAccordion('Scope-container')">
                    Scope (default: s1s2, s1s2s3)
                  </h5>
                </div>
                <div id="Scope-container" class="collapse show" style="display:none">
                  <div class="card-body" >
                    <div class="form-group">
                        <label for="input-filterScopeCategory">Choose the desired scope:</label>
                        <select [(ngModel)]="filterScopeCategory" name="filterScopeCategory" multiple class="form-control"
                            id="input-filterScopeCategory">
                            <option *ngFor="let scopeCategory of availableScopeCategories">{{scopeCategory}}</option>
                        </select>
                    </div>
                  </div>
                </div>
            </div>


            <!-- Columns -->
            <div class="card">
                <div class="card-header">
                  <h5 class="mb-0 btn btn-link" (click)="toggleAccordion('Column-container')">
                    Select additional columns to display
                  </h5>
                </div>
                <div id="Column-container" class="collapse show" style="display:none">
                  <div class="card-body" >
                    <div class="form-group">
                        <label for="columns">Choose the desired columns:</label>
                        <select class="form-control" id="columns" name="columns" [(ngModel)]="includeColumns" multiple>
                            <option *ngFor="let availableColumn of availableColumns">{{availableColumn}}</option>
                        </select>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Groupby -->
            <div class="card">
                <div class="card-header">
                  <h5 class="mb-0 btn btn-link" (click)="toggleAccordion('Groupby-container')">
                    Choose categories to group the output by
                  </h5>
                </div>
                <div id="Groupby-container" class="collapse show" style="display:none">
                  <div class="card-body" >
                    <div class="form-group">
                        <label for="grouping">Group the data by category:</label>
                        <select class="form-control" id="grouping" name="grouping" [(ngModel)]="groupingColumns" multiple>
                            <option *ngFor="let column of availableGroupingColumns">{{column}}</option>
                        </select>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Scenarios -->
            <div class="card">
                <div class="card-header">
                  <h5 class="mb-0 btn btn-link" (click)="toggleAccordion('Scenarios-container')">
                    Scenarios (default: With current targets, rest of portfolio business as usual)
                  </h5>
                </div>
                <div id="Scenarios-container" class="collapse show" style="display:none">
                  <div class="card-body" >
                    <div class="form-group">
                      <div class="">
                        <p>Choose the preferred scenario for calculation of the temperature scores.</p>
                        <div *ngFor="let scenario of availableScenarios" class="form-check" id="{{scenario.label}}">
                          <input (click)="addScenario($event)" class="form-check-input" type="radio" name="gridRadios" value="{{scenario.label}}" checked="{{scenario.checked}}">
                          <label class="form-check-label" for="{{scenario.label}}">
                            {{ scenario.description }}
                          </label>
                        </div>
                        <small class="form-text text-muted"><b>Please note:</b> in order to use scenario 4a and 4b, you should specify which companies you'd like to target for engagement by adding a column to the portfolio import file and marking the relevant companies with TRUE.</small>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


          <div>
            <p for="inlineRadio1" style="margin-top: 1em;">Download options</p>
            <div class="form-check form-check-inline">
              <input (click)="addDumpOption($event)"class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false" checked>
              <label class="form-check-label" for="inlineRadio1">Non-anonymized</label>
            </div>
            <div class="form-check form-check-inline">
              <input (click)="addDumpOption($event)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
              <label class="form-check-label" for="inlineRadio2">Anonymized</label>
            </div>
          </div>
          <small class="form-text text-muted">Choose whether to anonymize the downloadable data.</small>

          <div class="form-group" style="margin-top: 1em;">
              <button class="btn btn-success">Calculate scores</button>
          </div>
        </form>
    </div>

    <div id="div-results" class="container-results" *ngIf="resultTargets.length > 0">
      <h5>Portfolio temperature scores</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Group</td>
                    <td>Time frame</td>
                    <td>Temperature score</td>
                    <td>Companies with vs.<br> without targets</td>
                    <td></td>
                </tr>
            </thead>
            <tbody *ngFor="let group of resultGroups">
                <tr *ngFor="let timeFrame of resultTimeFrames">
                    <td>{{group}}</td>
                    <td>{{timeFrame}}</td>
                    <td>{{resultScores[timeFrame][group]["all"]["score"] | number:'1.2-2'}}&#176;C</td>
                    <td>
                      <ng-container *ngIf="resultScores[timeFrame][group]['influence_percentage']['target'] + resultScores[timeFrame][group]['influence_percentage']['default'] === 100">
                        {{resultScores[timeFrame][group]["influence_percentage"]["target"] | number:'1.0-2'}}% / {{resultScores[timeFrame][group]["influence_percentage"]["default"] | number:'1.0-2'}}%

                      </ng-container>
                    </td>
                    <td><button (click)="openContributors(group, timeFrame, 'all', templateContributions)" class="btn btn-sm btn-outline-primary">Contributors</button></td>
                </tr>
            </tbody>
        </table>


        <ng-template #templateContributions let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Company contributions</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Company</td>
                            <td>Temperature score</td>
                            <td>Relative contribution</td>
                            <td>Contribution</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of selectedContributions">
                            <td>{{company.company_name}}</td>
                            <td>{{company.temperature_score | number:'1.2-2'}}&#176;C</td>
                            <td>{{company.contribution_relative | number:'1.2-2'}}%</td>
                            <td>{{company.contribution | number:'1.2-2'}}&#176;C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>

        <hr />

      <h5>Portfolio coverage</h5>
        <div class="row" style="margin-bottom: 1em;">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        Portfolio coverage
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{coverage | number:'1.2-2'}}&#37;</h5>
                    </div>
                </div>
            </div>
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>

      <ng-container *ngIf="this.groupingColumns.length > 0 && resultItems.length > 2">
        <h5>Temperature scores grouped by categories</h5>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <td>Group</td>
                      <td>Time frame</td>
                      <td>Category</td>
                      <td>Temperature score</td>
                      <td>Category contribution</td>
                      <td></td>
                  </tr>
              </thead>
              <tbody *ngFor="let group of resultGroups">
                <ng-container *ngFor="let item of resultItems | keyvalue">
                  <ng-container *ngIf="item.value != 'all' && item.value != 'influence_percentage'">
                  <tr *ngFor="let timeFrame of resultTimeFrames">
                      <td>{{group}}</td>
                      <td>{{timeFrame}}</td>
                      <td>{{item.value}}</td>
                      <td>{{resultScores[timeFrame][group][item.value]["score"] | number:'1.2-2'}}&#176;C</td>
                      <td>
                        {{ resultDistribution[item.value] }}
                        %
                      </td>
                      <td><button (click)="openContributors(group, timeFrame, item.value, templateContributions)" class="btn btn-sm btn-outline-primary">Contributors</button></td>
                  </tr>
                  </ng-container>
                </ng-container>
              </tbody>
          </table>
      </ng-container>


        <div class="container-results">
            <h5>Temperature scores per company
              <button class="btn btn-outline-primary" (click)="exportCSV()" style="margin-right: 1em;">Download selection</button>
              <button class="btn btn-outline-primary" (click)="dumpCSV()">Download all</button>
            </h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let resultColumn of resultColumns">{{resultColumn}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let target of resultTargets">
                        <td scope="row" *ngFor="let resultColumn of resultColumns">{{ target[resultColumn] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
