<!--suppress BuyFluidPluginNoteInspection -->
<style>
</style>

<!-- Toolbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">SBTi</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="container" role="main">
    <h2>SBTi Temperature Scoring</h2>
    <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <form>
        <div class="form-group">
            <label for="input-excel_file">Excel file</label>
            <input (change)="onFileChange($event)" type="file" class="form-control-file" id="input-excel_file"
                name="input-excel_file" aria-describedby="input-excel_file">
        </div>
        <div class="form-group">
            <label for="input-excel_skiprows">Skip rows</label>
            <input type="number" class="form-control" id="input-excel_skiprows" name="input-excel_skiprows"
                [(ngModel)]="excelSkiprows">
        </div>
        <button class="btn btn-primary" (click)="parseExcel()">Parse Excel</button>
        <span *ngIf="columns.length > 0">
            <hr />
            <h6>Map your columns to input fields</h6>
            <div class="row">
                <div class="col">
                    <p *ngFor="let column of columns">
                        <input class="form-control" value="{{column}}" disabled />
                    </p>
                </div>
                <div class="col">
                    <p *ngFor="let column of columns">
                        <select class="form-control" name="select-map_{{column}}" [(ngModel)]="columnMapping[column]"
                            (change)="updateAvailableColumns()">
                            <option></option>
                            <option *ngFor="let targetColumn of availableTargetColumns">{{targetColumn}}</option>
                        </select>
                    </p>
                </div>
            </div>
        </span>
    </form>

    <form (ngSubmit)="getTemperatureScore(f)" #f="ngForm" *ngIf="columns.length > 0">
        <hr />
        <h6>API settings (leave empty to use the defaults)</h6>
        <p>Choose the following filters for data-filtering or aggregation of columns.
          <br>
          Use CTR-click to deselect items.
        </p>
        <div class="form-group">
            <label for="input-defaultScore">Default temperature score</label>
            <!--<input type="number" class="form-control" id="input-defaultScore" step="0.1" name="input-defaultScore"-->
                <!--[(ngModel)]="defaultScore">-->
            <select class="form-control" [(ngModel)]="defaultScore" name="defaultMethod"
                class="form-control" id="input-defaultScore">
                <option *ngFor="let defaultMethod of availableDefaultScores" [ngValue]="defaultMethod">{{defaultMethod}}</option>
            </select>

        </div>
        <div class="form-group">
            <label for="input-aggregationMethod">Aggregation method</label>
            <select class="form-control" [(ngModel)]="selectedAggregationMethod" name="aggregationMethod"
                class="form-control" id="input-aggregationMethod">
                <option *ngFor="let aggregationMethod of availableAggregationMethods" [ngValue]="aggregationMethod">{{aggregationMethod}}</option>
            </select>
        </div>

        <!-- TimeFrame -->
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" (click)="toggleAccordion('timeFrame-container')" for="input-filterTimeFrames">Time frame (default: mid)</button>
            </h5>
          </div>
          <div id="timeFrame-container" class="collapse show" style="display:none">
            <div class="card-body" >
              <div class="form-group">
                <label for="input-dataProviders-1">Choose the desired timeframe:</label>
                <!-- *ngFor="let timeFrame of availableTimeFrames"  -->
                <!--<div class="form-check" [(ngModel)]="filterTimeFrames">-->
                      <!--<input class="form-check-input" [(ngModel)]="cat.id" name="{{ cat.name }}" type="checkbox" id="{{cat.name}}" (change)="onChangeCategory($event, cat)">-->
                      <!--<label class="form-check-label" for="{{cat.name}}">-->
                          <!--{{cat.name}}-->
                      <!--</label>-->

                    <!--<input class="form-check-input" type="checkbox" value="" id="{{timeFrame}}">-->
                    <!--<label class="form-check-label" for="{{timeFrame}}">-->
                        <!--{{timeFrame}}-->
                    <!--</label>-->
                <!--</div>-->

                  <select class="form-control" [(ngModel)]="filterTimeFrames" name="filterTimeFrames" multiple
                      id="input-filterTimeFrames">
                      <option *ngFor="let timeFrame of availableTimeFrames">{{timeFrame}}</option>
                        <!--<option *ngFor="let timeFrame of availableTimeFrames"-->
                        <!--[attr.selected]="timeFrame == 'mid' ? true : false">-->
                          <!--{{timeFrame}}-->
                        <!--</option>-->
                  </select>
                </div>
            </div>
          </div>
        </div>


        <!-- Scope -->
        <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" (click)="toggleAccordion('Scope-container')">Scope (default: s1s2, s1s2s3)</button>
              </h5>
            </div>
            <div id="Scope-container" class="collapse show" style="display:none">
              <div class="card-body" >
                <div class="form-group">
                    <label for="input-filterScopeCategory">Choose the desired scope:</label>
                    <select [(ngModel)]="filterScopeCategory" name="filterScopeCategory" multiple class="form-control"
                        id="input-filterScopeCategory">
                        <option *ngFor="let scopeCategory of availableScopeCategories">{{scopeCategory}}</option>
                    </select>
                </div>
              </div>
            </div>
        </div>



        <!-- Data providers -->
        <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" (click)="toggleAccordion('DataProvider-container')">Data providers (default CSV sample data)</button>
              </h5>
            </div>
            <div id="DataProvider-container" class="collapse show" style="display:none">
              <div class="card-body" >

                <div class="form-group">
                  <label for="input-dataProviders-1">First Dataprovider</label>
                  <select class="form-control" id="input-dataProviders-1" name="dataProviders-1"
                      [(ngModel)]="selectedDataProviders1">
                      <option *ngFor="let dataProvider of dataProviders">{{dataProvider.name}}</option>
                  </select>
                  <label for="input-dataProviders-1-file"></label>
                  <input (change)="onFileChange($event)" type="file" class="form-control-file" id="input-dataProviders-1-file"
                      name="input-dataProviders-1-file" aria-describedby="dataProvider1File">
                  <small id="dataProvider1File" class="form-text text-muted">Use this file upload to provide your own dataprovider.</small>
                  <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<div class="input-group-text">/SBTI/app/</div>-->
                    <!--</div>-->
                    <!--<input [(ngModel)]="selectedDataProvider1Path" type="text" class="form-control"-->
                           <!--id="input-dataProviders-1-path" aria-describedby="dataProvider1Path"-->
                           <!--placeholder="data/data_test_temperature_score.csv" name="selectedDataProvider1Path">-->
                  <!--</div>-->
                    <!--<small id="dataProvider1Path" class="form-text text-muted">Use this input box to serve a different source path for the first dataprovider.</small>-->
              </div>
              <div class="form-group">
                  <label for="input-dataProviders-2">Second Dataprovider</label>
                  <select class="form-control" id="input-dataProviders-2" name="dataProviders-2"
                      [(ngModel)]="selectedDataProviders2">
                      <option *ngFor="let dataProvider of dataProviders">{{dataProvider.name}}</option>
                  </select>
                <label for="input-dataProviders-2-file"></label>
                <input (change)="onFileChange($event)" type="file" class="form-control-file" id="input-dataProviders-2-file"
                      name="input-dataProviders-2-file" aria-describedby="dataProvider2File">
                  <small id="dataProvider2File" class="form-text text-muted">Use this file upload to provide your own dataprovider.</small>
                  <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<div class="input-group-text">/SBTI/app/</div>-->
                    <!--</div>-->
                    <!--<input [(ngModel)]="selectedDataProvider2Path" type="text" class="form-control"-->
                           <!--id="input-dataProviders-2-path" aria-describedby="dataProvider2Path"-->
                           <!--placeholder="data/data_test_temperature_score.csv" name="selectedDataProvider2Path">-->
                  <!--</div>-->
                    <!--<small id="dataProvider2Path" class="form-text text-muted">Use this input box to serve a different source path for the second dataprovider.</small>-->
              </div>

              </div>
            </div>
        </div>


        <!-- Columns -->
        <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" (click)="toggleAccordion('Column-container')">Columns</button>
              </h5>
            </div>
            <div id="Column-container" class="collapse show" style="display:none">
              <div class="card-body" >
                <div class="form-group">
                    <label for="columns">Choose the desired columns:</label>
                    <select class="form-control" id="columns" name="columns" [(ngModel)]="includeColumns" multiple>
                        <option *ngFor="let availableColumn of availableColumns">{{availableColumn}}</option>
                    </select>
                </div>
              </div>
            </div>
        </div>

        <!-- Groupby -->
        <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" (click)="toggleAccordion('Groupby-container')">Group by</button>
              </h5>
            </div>
            <div id="Groupby-container" class="collapse show" style="display:none">
              <div class="card-body" >
                <div class="form-group">
                    <label for="grouping">Group the data by category:</label>
                    <select class="form-control" id="grouping" name="grouping" [(ngModel)]="groupingColumns" multiple>
                        <option *ngFor="let column of availableGroupingColumns">{{column}}</option>
                    </select>
                </div>
              </div>
            </div>
        </div>


      <div class="form-group" style="margin-top: 1em;">
          <button class="btn btn-success">Get temperature score</button>
      </div>
    </form>

    <div id="div-results" class="container-results" *ngIf="resultTargets.length > 0">
      <h5>Aggregated temperature scores</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Group</td>
                    <td>Time frame</td>
                    <td>Temperature score</td>
                    <td>Targets & Default (%)</td>
                    <td></td>
                </tr>
            </thead>
            <tbody *ngFor="let group of resultGroups">
                <tr *ngFor="let timeFrame of resultTimeFrames">
                    <td>{{group}}</td>
                    <td>{{timeFrame}}</td>
                    <td>{{resultScores[timeFrame][group]["all"]["score"] | number:'1.2-2'}}&#176;C</td>
                    <td></td>
                    <td><button (click)="openContributors(group, timeFrame, 'all', templateContributions)" class="btn btn-sm btn-outline-primary">Contributors</button></td>
                </tr>
            </tbody>
        </table>


        <ng-template #templateContributions let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Company contributions</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Company</td>
                            <td>Temperature score</td>
                            <td>Relative contribution</td>
                            <td>Contribution</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of selectedContributions">
                            <td>{{company.company_name}}</td>
                            <td>{{company.temperature_score | number:'1.2-2'}}&#176;C</td>
                            <td>{{company.contribution_relative | number:'1.2-2'}}%</td>
                            <td>{{company.contribution | number:'1.2-2'}}&#176;C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>

        <hr />

        <div class="row" style="margin-bottom: 1em;">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        Portfolio coverage
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{coverage | number:'1.2-2'}}&#37;</h5>
                    </div>
                </div>
            </div>
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>

      <ng-container *ngIf="this.groupingColumns.length > 0">
        <h5>Group by temperature scores</h5>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <td>Group</td>
                      <td>Time frame</td>
                      <td>Groupby</td>
                      <td>Temperature score</td>
                      <td>Targets & Default (%)</td>
                      <td></td>
                  </tr>
              </thead>
              <tbody *ngFor="let group of resultGroups">
                <ng-container *ngFor="let item of resultItems | keyvalue">
                  <ng-container *ngIf="item.value != 'all'">
                  <tr *ngFor="let timeFrame of resultTimeFrames">
                      <td>{{group}}</td>
                      <td>{{timeFrame}}</td>
                      <td>{{item.value}}</td>
                      <td>{{resultScores[timeFrame][group][item.value]["score"] | number:'1.2-2'}}&#176;C</td>
                      <td></td>
                      <td><button (click)="openContributors(group, timeFrame, item.value, templateContributions)" class="btn btn-sm btn-outline-primary">Contributors</button></td>
                  </tr>
                  </ng-container>
                </ng-container>
              </tbody>
          </table>
      </ng-container>


        <div class="container-results">
            <h5>Temperature score targets <button class="btn btn-outline-primary"
                    (click)="exportCSV()">Download</button></h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let resultColumn of resultColumns">{{resultColumn}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let target of resultTargets">
                        <td scope="row" *ngFor="let resultColumn of resultColumns">{{ target[resultColumn] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
